@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --siyah:#000;
    --beyaz:#fff;
    --seffaf: rgba(165, 151, 151, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family:'Poppins', sans-serif;
    background: url(./images/body.jpg) no-repeat center/cover;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    flex: 1 1 100%;
    gap: 50px;
}
header > ul > li{
    flex: 1 1 15%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--seffaf);    
}
header > ul > li > a{
    text-decoration: none;
    color: white;
}
